 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <p>I specialise in iOS development but also bring full stack development and startup experience. I'm comfortable with condensed learning requirements to bridge project skills gaps. I've taught the iOS App developement course at City University London. The iOS community is fantastic and I'm an active member in both the local and international scene.</p>
                </div>
                <div class="col-lg-4">
                    <p>I perfer to work remotely with a mix of on site but will also take on London based roles within reasonable commute distance. I'm available for part time or full time projects. I'm not interested in permenant roles but I do offer a retainer for long term support.</p>
                </div>
                <div class="col-lg-4">
                    <p>My rates for full time on site start at £3000/week and for remote part time from £450/day. I will not work for equity.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About You</h2>
                    <hr class="star-light">
                </div>
            </div>
             <div class="row">
             <div class="col-lg-4">
                    <h3>Startup founder</h3>
                    <p>You're working on an MVP or looking to add features to an existing app.</p>
                </div>
                <div class="col-lg-4">
                    <h3>Internal recruiter</h3>
                    <p>You are working on a new product and looking to integrate new tech in to existing apps.</p>
                </div>
                <div class="col-lg-4">
                    <h3>Recruiting agency</h3>
                    <p>Please re-read the about me section above. I'm more than happy to work with you on roles that fit the criteria. When you reach out, please include the job description.</p>
                </div>
            </div>
        </div>
    </section>